<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175673870280-4j6rv049p99uq6c1erievuk62ntaq7f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175673870280-4j6rv049p99uq6c1erievuk62ntaq7f7</string>
	<key>API_KEY</key>
	<string>AIzaSyAwDbcEZI_N4nsHQJnN080C3dbK_S8AdOo</string>
	<key>GCM_SENDER_ID</key>
	<string>175673870280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.social</string>
	<key>PROJECT_ID</key>
	<string>social-4140c</string>
	<key>STORAGE_BUCKET</key>
	<string>social-4140c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175673870280:ios:808a61f224ca5dfb0322fd</string>
</dict>
</plist>